@use "../custom" as *;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section {
  padding-block: 96px !important;
}

.para {
  line-height: 1.8;
  font-size: 18px;
}

.hidden {
  display: none !important;
}

.bold-me {
  font-weight: 600;
}
